---
import Decap from "../../components/Decap";

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Management System</title>
    <link rel="stylesheet" href="./content-manager/style.css">
</head>
<body>
    <Decap client:only="react" />
    
</body>
</html>