---
import Decap from "../../components/Decap";
import { getEditorAssetsPath, getEditorBranch } from "../../utils/environment";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content Management System</title>
    <link rel="stylesheet" href={`./${getEditorAssetsPath()}style.css`} />
  </head>
  <body>
    <div class="navbar bg-neutral text-neutral-content">
      <button class="btn btn-ghost text-xl">Content Editor</button>
      <div class="navbar-end">
        <button class="btn">
          Publishing to :
          <div class="badge badge-secondary">{getEditorBranch()}</div>
        </button>
      </div>
    </div>
    <Decap client:only="react" />
  </body>
</html>
