---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { PhoneIcon } from "@heroicons/react/24/outline";
import { EnvelopeIcon } from "@heroicons/react/24/solid";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      #profile-pic {
        background-image: url("https://avatars.githubusercontent.com/u/32291808?v=4");
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin: 0 auto;
      }
      #about-section {
      }
      #contact-section {
      }
      #education-certifications {
      }

      .section-title {
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main
      id="landing-home"
      class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4 md:p-8 lg:p-16 mx-auto"
    >
      <div id="sidebar-content" class="md:col-span-1">
        <div id="profile-pic" class=""></div>
        <div id="about-section" class="my-5">
          <h5 class="section-title text-center bg-blue-950 text-white p-1">
            About Me
          </h5>
          <p class="text-justify">
            An experienced professional with nearly a decade of experience in
            developing and positioning services and products with a focus in
            agile development practices that have provided fast turnarounds in
            independent and collaborative contribution environments.
          </p>
        </div>
        <div id="contact-section">
          <h5 class="section-title text-center bg-blue-950 text-white p-1">
            Contact
          </h5>
          <ul>
            <li class="flex justify-center items-center">
              <PhoneIcon
                className="bg-blue-950 text-white p-1.5 rounded-3xl mr-1"
                width={26}
                height={26}
              /> +91 7259619029
            </li>
            <li class="flex justify-center items-center">
              <EnvelopeIcon
                className="bg-blue-950 text-white p-1.5 rounded-3xl mr-1"
                width={26}
                height={26}
              />
               ayas.ping@gmail.com
            </li>
          </ul>
        </div>
        <div id="education-certifications" class="my-5">
          <h5 class="section-title text-center bg-blue-950 text-white p-1">
            Education & Certifications
          </h5>
          <ul>
            <li>
              <h6 class="font-bold">B.E. Information Technology</h6>
              <p>Kalol Institute of Technology & Research Center</p>
            </li>
          </ul>
        </div>
      </div>
      <div id="main-content" class="md:col-span-2">
        <div id="relevant-experience">
          <h5 class="section-title text-center bg-blue-950 text-white p-1">
            Relevant Experience
          </h5>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
