
div#nc-root{
  
    min-height: 100vh;
    background-color: #f5f5f5;
    overflow-x: scroll;
    min-width: fit-content;
}

input[type="datetime-local"],input[type="date"]{
    background-color: aliceblue;
    border: 1px solid #4c4b4b;
    border-radius: 5px;
    padding: 5px;
}